.container() {
box-sizing: border-box;
width: 100%;
max-width: 1414px;
margin: 0 auto;
padding-left: 72px;
padding-right: 72px;
@media @bw768 {
    padding-left: 20px;
    padding-right: 20px;
}
}

.show-nav {
    body {
        @media @bw1020 {
            overflow: hidden;
        }
    }
.page-header__nav {
    @media @bw1020 {
        transform: translateX(0);
    }
}
.page-header__nav-toggle {
    &::before {
        transform: translate(0px, 6px) rotate(45deg);
        box-shadow: none;
    }
    &::after {
        transform: translate(0px, -6px) rotate(-45deg);
    }
}
}
.show-product-pp {
body {
    overflow: hidden;
}
#js-productPP{
    display: flex;
}
}
.show-filter-pp {
body {
    overflow: hidden;
}
#js-filter {
    display: flex;
}
}
.hidden {
visibility: hidden;
}
