.page-footer {
    box-sizing: border-box;
    width: 100%;
    background-color: @color3;
    &__container {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1414px;
        margin: 0 auto;
        padding: 0 67px 28px 72px;
        height: 150px;
    }
    &__text {
        margin: 0;
        color: @color1;
        font-family: @font2;
        font-size: 16px;
        font-weight: @font_weight2;
        line-height: 1.2;
        opacity: 0.6;
    }
}