.stages {
    box-sizing: border-box;
    display: flex;
    &__container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1414px;
        margin: 0 auto;
        padding: 167px 58px 0 72px;

        @media @bw1020 {
            padding: 117px 0 0 15px;
        }
    }
    &__title {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        max-width: 806px;
        margin: 0;
        color: @color1;
        font-family: @font3;
        font-size: 54px;
        font-weight: @font_weight2;
        line-height: 1.2;
        text-transform: uppercase;
        @media @bw768 {
            max-width: 100%;
            font-size: 36px;
        }
    }
    &__title-block {
        @media @bw768 {
            display: flex;
            flex-direction: column;
            padding-left: 5px;
        }
    }
    &__link {
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        max-width: 280px;
        padding-left: 5px;
        color: @color5;
        font-family: @font2;
        font-size: 20px;
        font-weight: @font_weight2;
        line-height: 1.2;
        text-decoration: none;
        text-transform: none;
        cursor: pointer;
        transition: color 0.2s;
        &:hover {
            color: @color5-hover;
        }
        @media @bw1020 {
            max-width: 100%;
            font-size: 18px;
            padding: 8px 0 0;
        }
    }
    &__text {
        z-index: 1;
        width: 100%;
        margin: 0;
        color: @color1;
        font-family: @font2;
        font-size: 20px;
        font-weight: @font_weight3;
        line-height: 1.2;

        @media @bw1020 {
            font-size: 18px;
        }
    }
    &__number {
        z-index: 1;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        background-color: @white;
        border-radius: 60px;
        color: @color1;
        font-family: @font2;
        font-size: 20px;
        font-weight: @font_weight4;
        line-height: 1.2;
    }
    &__container-slider {
        position: relative;
        box-sizing: border-box;
    }
    &__wrapper {
        position: relative;
        box-sizing: border-box;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 112px 112px 136px;
        gap: 20px;
        margin-top: 54px;
        grid-template-areas: 
            'block1 block1 box3'
            'block2 block2 box3'
            'box6 box7 box7'
        ;

        @media @bw1340 {
            grid-template-rows: 150px 150px 350px;
        }
        @media @bw1020 {
            display: flex;
            margin: 0 auto;
            width: 100%;
            max-width: 335px;
            height: 300px;
            margin-top: 147px;
        }
    }

    &__block1 {
        display: flex;
        gap: 20px;
        grid-area: block1;
        @media @bw1020 {
            flex-direction: column;
            gap: 30px;
            position: relative;
            overflow: hidden;
            width: 100%;
            max-width: 335px;
            padding: 62px 20px 35px 22px;
            box-shadow: 5px 4px 13px 0 @shadow2;
            background-image: url('../assets/images/bg-slide.png');
            background-size: cover;
        }
    }
    &__block2 {
        display: flex;
        gap: 20px;
        grid-area: block2;
        @media @bw1020 {
            flex-direction: column;
            gap: 0;
            position: relative;
            overflow: hidden;
            display: flex;
            gap: 30px;
            width: 100%;
            max-width: 335px;
            padding: 62px 20px 35px 22px;
            box-shadow: 5px 4px 13px 0 @shadow2;
            background-image: url('../assets/images/bg-slide.png');
            background-size: cover;
        }
    }
    &__text-pad {
        width: 100%;
        max-width: 302px;
    }
    &__box1,
    &__box2 {
        width: 100%;
    }
    &__wrapper-el {
        position: relative;
        overflow: hidden;
        display: flex;
        gap: 18px;
        padding: 20px 20px 20px 22px;
        box-shadow: 5px 4px 13px 0 @shadow2;
        background-image:url(../assets/images/img-bg.png);
        opacity: 0.8;
        @media @bw1020 {
            padding: 0;
            background-image: none;
            box-shadow: none;
            opacity: 1;
        }
    }
    &__background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../assets/images/image.png');
        background-size: cover;
        background-position: center; 
        mix-blend-mode: color-burn; 
        @media @bw1020 {
            background-image: none;
        }
    }
    
    &__background-image1 {
        display: none;
        @media @bw1020 {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../assets/images/bg-link.png');
            background-size: cover;
            background-position: center; 
        }
    }

    &__box3 {
        grid-area: box3;
        @media @bw1020 {
            gap: 0;
            position: relative;
            overflow: hidden;
            gap: 30px;
            width: 100%;
            max-width: 335px;
            padding: 62px 20px 35px 22px;
            box-shadow: 5px 4px 13px 0 @shadow2;
            background-image: url('../assets/images/bg-slide.png');
            background-size: cover;
        }
    }

    &__box6 {
        grid-area: box6;
        @media @bw1020 {
            gap: 0;
            position: relative;
            overflow: hidden;
            gap: 30px;
            width: 100%;
            max-width: 335px;
            padding: 62px 20px 35px 22px;
            box-shadow: 5px 4px 13px 0 @shadow2;
            background-image: url('../assets/images/bg-slide.png');
            background-size: cover;
        }
    }
    &__box7 {
        grid-area: box7;
        padding-right: 285px;
        @media @bw1020 {
            gap: 0;
            position: relative;
            overflow: hidden;
            gap: 30px;
            width: 100%;
            max-width: 335px;
            padding: 62px 20px 35px 22px;
            box-shadow: 5px 4px 13px 0 @shadow2;
            background-image: url('../assets/images/bg-slide.png');
            background-size: cover;
        }
    }
    &__box8 {
        position: absolute;
        bottom: -2px;
        right: -65px;
        width: 100%;
        max-width: 401px;
        @media @bw1020 {
            top: -133px;
            right: -17px;
            max-width: 330px;
        }
    }
    &__btns {
        display: none;
        @media @bw1020 {
            position: absolute;
            left: 50%;
            bottom: -65px;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 178px;
        }
    }
    &__pic {
        position: relative;
        display: block;
        width: 100%;
        overflow: hidden;
        &::after {
            content: '';
            display: block;
            width: 100%;
            padding-top: 58.1%;
            @media @bw1020 {
                padding-top: 62.10%;
            }
        }
        @media @bw1020 {
            width: 318px;
            transform: rotate(-4deg);
        }
    }
    &__pic-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__pagination {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 74px;
    }
    &__pagination-btn {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        border: none;
        background-color: @disabled;
    }
}
.active {
    @media @bw1020 {
        display: none;
    }
}
.disabled {
    background-color: @disabled;
    color: @white;
}
.active-btn {
    background-color: @color1;
}